<%= render partial: "shared/header" %>
<%= render partial: "shared/sidebar" %>


<main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to "Home", authenticated_root_path %></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">


            <!-- Users Card -->
            <div class="col-xxl-3 col-md-6">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">Total Users</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6><%= User.count() %></h6>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Users Card -->

            <!-- Events Card -->
            <div class="col-xxl-3 col-md-6">
              <div class="card info-card revenue-card">
                <div class="card-body">
                  <h5 class="card-title">Total Events</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-calendar2-event"></i>
                    </div>
                    <div class="ps-3">
                      <h6><%= Event.count() %></h6>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Events Card -->

            <!-- Categories Card -->
            <div class="col-xxl-3 col-md-6">

              <div class="card info-card customers-card">
                <div class="card-body">
                  <h5 class="card-title">Total Categories</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-list"></i>
                    </div>
                    <div class="ps-3">
                      <h6><%= EventCategory.count()%></h6>
                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Categories Card -->

      <!-- Hashtags Card -->
            <div class="col-xxl-3 col-md-6">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">Total Hashtags</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-hash"></i>
                    </div>
                    <div class="ps-3">
                      <h6><%= Hashtag.count() %></h6>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Hashtags Card -->

            

      
            <!-- Recent Sales -->
              <div class="card recent-sales overflow-auto">
                <div class="card-body">
                  <h5 class="card-title">All Events </h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">Event Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Date</th>
                        <th scope="col"  data-searchable="false" data-sortable="false">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @selected_events = @events.where(event_status: :active) %>
                      <% @selected_events.each do |e| %>
                      <tr>
                        <td><%= e.title %></td>
                        <td><%= e.description%></a></td>
                        <td><%= e.start_date.strftime('%b %e, %Y') %></td>
                        <td><%=link_to "",admin_event_path(e) , class:"bi bi-eye-fill"%></td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Recent Sales -->

      

    

      </div>
    </section>

  </main><!-- End #main -->
  
  <%= render partial: "shared/footer" %>
