<p style="color: green"><%= notice %></p>


<%= render partial: "shared/header" %>
<%= render partial: "shared/sidebar" %>

<main id="main" class="main">
    <div class="pagetitle">
      <h1>Report Details</h1>
      
    </div><!-- End Page Title -->
    <section class="section Users">
      <div class="row">
        <div class="col-12 ">
        
              <div class="card recent-sales overflow-auto">
                <div class="card-body ">
                  <h3  style="margin-top: 10px; font-weight: bold; ">
                  <%if @report.report_type == 1 %>
                      <%= @data.title%>
                  <%else%>
                      <%= @data.email%>
                  <%end%>
                  </h3>
                  
                                        
                <p class="card-text" style="display: flex; justify-content: center;">
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <span class="text-lightgrey">Reported by</span>
                  </td>
                  <td><%= User.find_by(id:@report.reported_by_id).email %></td>
                </tr>
                <tr>
                  <td>
                    <span class="text-lightgrey">Description</span>
                  </td>
                  <td>
                    <%= @report.description%>
                  </td>

                </tr>
                <tr>
                  <td>
                    <span class="text-lightgrey">Status</span>
                  </td>
                     <td> <% if @report.report_type == 1 %>
                            <% @event = Event.find_by(id: @report.reported_id) %>
                            <%if @event.event_status == "active" %>
                            <span class="badge bg-success">Active Event</span>
                            <%else%>
                            <span class="badge bg-danger">Suspended Event</span>
                            <% end %>
                          <%else%>
                            <% @user = User.find_by(id: @report.reported_id) %>
                            <%if @user.status == "active" %>
                            <span class="badge bg-success">Active User</span>
                            <%else%>
                            <span class="badge bg-danger">Suspended User</span>
                          <% end %>
                        <%end%>
                   </td>
                  </tr>
                  <tr>
                  <td>
                    <span class="text-lightgrey">Action</span>
                  </td>
                  <td>
                  <% if @report.status == "reported" %>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                      <%= link_to admin_path(@report), data: { 'turbo-method': :patch, turbo_confirm: 'Are you sure you want to approve this event report?' }, class: "btn btn-outline-success", id: "btnradio1" do %>
                        Approve
                      <% end %>

                      <%= link_to admin_reports_disapprove_path(@report), data: { 'turbo-method': :patch, turbo_confirm: 'Are you sure you want to disapprove this report?' }, class: "btn btn-outline-danger", id: "btnradio2" do %>
                        Disapprove
                      <% end %>
                  <% elsif @report.status == "approved" %>
                    <%= link_to admin_path(@report), data: { 'turbo-method': :patch, turbo_confirm: 'Are you sure you want to approve this event report?' }, class: "btn btn-success", id: "btnradio1" do %>
                      Approve
                    <% end %>

                    <%= link_to admin_reports_disapprove_path(@report), data: { 'turbo-method': :patch, turbo_confirm: 'Are you sure you want to disapprove this report?' }, class: "btn btn-outline-secondary disable", onclick: "return false;", id: "btnradio2" do %>
                      Disapprove
                    <% end %>
                  <% elsif @report.status == "suspended" %>
                    <%= link_to admin_path(@report), data: { 'turbo-method': :patch, turbo_confirm: 'Are you sure you want to approve this event report?' }, class: "btn btn-outline-secondary disable", id: "btnradio1" , onclick: "return false;" do %>
                      Approve
                    <% end %>
                    <%= link_to admin_reports_disapprove_path(@report), data: { 'turbo-method': :patch, turbo_confirm: 'Are you sure you want to disapprove this report?' }, class: "btn btn-danger", id: "btnradio2" do %>
                      Disapprove
                    <% end %>
                  <% end %>
                </div>
              </td>
              </tr>   
              </tbody>
            </table>
          </p>  
          
          <div>
          <br>
            <%= link_to "Back", admin_reports_path ,class:"btn btn-secondary"%>
            <% if @report.report_type == 1%>
            <%= link_to "For more detail", admin_event_path(@event) , style:"margin-left:900px;"%>
            <%else%>
            <%=link_to "For more detail", admin_user_path(@user) , style:"margin-left:900px;" %>
            <%end%>
         </div>
                </div>
              </div>
          </div>
      </div>
    </section>

</main><!-- End #main -->
<%= render partial: "shared/footer" %>



















