<%= render partial: "shared/header" %>
<%= render partial: "shared/sidebar" %>

<main id="main" class="main">
  <div class="pagetitle"></div><!-- End Page Title -->
  <section class="section Users" style="display: flex; justify-content: center;">
    <div class="card mb-3 d-inline-block">
      <div class="row g-0">
        <div class="card-body">
          <h3 style="margin-top: 10px; font-weight: bold; display: flex; justify-content: center;">
            <%= @user.profile.first_name %> <%= @user.profile.last_name %>
          </h3>
          <% if @user.profile.image.present? %>
            <div style="display: flex; justify-content: center;">
              <%= image_tag(@user.profile.image, alt: 'Profile', class: 'rounded-circle', style: 'width: 200px; height: 200px;') %>
            </div>
          <% end %>
          <p class="card-text" style="display: flex; justify-content: center;">
           




   <%= form_with(model:@user.profile,url: admin_user_update_path(@user))do |form| %>

            <table class="table">
               <tr>
                  <td>
                    <span class="text-lightgrey">Email</span>
                  </td>
                  <td><input class = "form form-control" value="<%=@user.email%>" disabled></td>
                </tr><tbody>

                <tr>
                  <td>
                    <span class="text-lightgrey">Phone number</span>
                  </td>
                  <td>
                    <%= form.text_field :phone_number, value: @user.profile.phone_number, class: "form form-control", required: true, pattern: "[0-9]{10}", title: "Please enter a valid 10-digit phone number" %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="text-lightgrey">Address</span>
                  </td>
                  <td><%=form.text_field :address, value:@user.profile.address, class:"form form-control",required:true %></td>
                </tr>
                <tr>
                  <td>
                    <span class="text-lightgrey">Date of Birth</span>
                  </td>
                  <td>
                    <%= form.text_field :dob, value: @user.profile.dob, class: "form form-control", required: true, pattern: "\\d{4}-\\d{2}-\\d{2}", title: "Please enter a valid date in the format YYYY-MM-DD", oninvalid: "setCustomValidity('Please enter a valid date of birth')" %>
                  </td>
                </tr>
             
                <tr>
                  <td>
                    <span class="text-lightgrey">Joined</span>
                  </td>
                  <td><input class = "form form-control" value="<%=@user.created_at.strftime('%b %e, %Y')%>" disabled></td>
                </tr>                    
                  </td>
                <tr>
                <td></td>
                <td>
                  <%= form.submit "Update", class: "btn btn-primary" %>
                
                </td>
              </tr>
                <%end%>
              </tbody>
            </table>
        <%= link_to 'Back', admin_users_path%>
          </p>
        </div>
      </div>
    </div>
  </section>
</main><!-- End #main -->

<%= render partial: "shared/footer" %>












